<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Collection</title>

    {% include 'bootstrap.html' %}

</head>
<body>

    {% include 'temporary_navbar.html' %}
    {% include 'messages.html' %}

    <div class="container">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>Data</th>
                <th>Encode Manually</th>
                <th>File Upload</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Nutritional Statuses</td>
                <td><a href="{% url 'data-collection:encode-ns' %}"><button>Manually Encode</button></a></td>
                <td>
                    <form>
                        <input type="file">
                        <input type="submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>Maternal</td>
                <td><a><button>Manually Encode</button></a></td>
                <td>
                    <form>
                        <input type="file">
                        <input type="submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>STI Surveillance</td>
                <td><a><button>Manually Encode</button></a></td>
                <td>
                    <form>
                        <input type="file">
                        <input type="submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>Immunization</td>
                <td><a><button>Manually Encode</button></a></td>
                <td>
                    <form>
                        <input type="file">
                        <input type="submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>Malaria</td>
                <td><a><button>Manually Encode</button></a></td>
                <td>
                    <form>
                        <input type="file">
                        <input type="submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>Tuberculosis</td>
                <td><a><button>Manually Encode</button></a></td>
                <td>
                    <form>
                        <input type="file">
                        <input type="submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>Schistosomiasis</td>
                <td><a><button>Manually Encode</button></a></td>
                <td>
                    <form>
                        <input type="file">
                        <input type="submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>Flariasis</td>
                <td><a><button>Manually Encode</button></a></td>
                <td>
                    <form>
                        <input type="file">
                        <input type="submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>Leprosy</td>
                <td><a><button>Manually Encode</button></a></td>
                <td>
                    <form>
                        <input type="file">
                        <input type="submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>Child Care</td>
                <td><a><button>Manually Encode</button></a></td>
                <td>
                    <form>
                        <input type="file">
                        <input type="submit">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>